@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url('https://images.pexels.com/photos/784633/pexels-photo-784633.jpeg?auto=compress&cs=tinysrgb&w=400');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: $color-light;
}

.sidebar {
  flex: 1 0 0;
  text-align: center;
  .tags a {
    line-height: 1;
  }
  .tags li{
    display: inline-block;

  }
  .tag-size-1 {
    font-size: 16px;
    color: green;
  }
  .tag-size-2 {
    font-size: 20px;
    color: yellow;;
  }
  .tag-size-3 {
    font-size: 24px;
    color: lightseagreen;
  }
  .tag-size-4 {
    font-size: 28px;
    color: lightcoral;
  }
  .tag-size-5 {
    font-size: 36px;
    color: skyblue;
  }
}

.posts {
  flex: 2 0 0;
}

.sidebar,
.posts {
  position: relative;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: $color-light;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: $color-light;
    line-height: 3;
    &:hover {
      font-weight: bold;
    }
  }
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

// .authors {
//   li {
//     margin-bottom: 12px;
//   }
// }

/* Post */

.post {
  opacity: 0;
  position: absolute;
  padding-right: 40px;
  z-index: 1;

  &.active {
    opacity: 1;
    transition: opacity linear 3s;
    z-index: 2;
  }
}

.post-author {
  font-style: italic;
  a {
    color: $color-light;
    text-decoration: none;
  }
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 767px) {
  body {
    background-size: cover;
    .wrapper {
      flex-direction: column;
      .posts {
        padding: 0;
        .active {
          padding: 40px;
        }
      }
      .post {
        position: relative;

        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 367px) {
  .logo {
    font-size: 70px;
  }
}
